backend:
  name: github
  branch: master
  repo: https://github.com/joelcarter-dev/art-site

media_folder: src/pages/img

display_url: https://elloron-art.netlify.app/

collections:
  - name: "item"
    label: "Art Items"
    folder: "src/pages/store-items"
    create: true
    slug: "{{slug}}"
    fields:
      - {
          label: "Title", 
          name: "title", 
          widget: "string",
          hint: "Use Capitalization for Tte Title"
        }
      - {
          label: "About", 
          name: "about", 
          widget: "text", 
          # required: false,
          hint: "Used for SEO descriptions, does not show in store. Is needed to not have null in metadata"  
        }
      - {
          label: "Artist Notes", 
          name: "artistNotes", 
          widget: "markdown", 
          required: false,
          hint: "Add a story about the pice. If it is an archive item, hint at it's content, nothing more"  
      }
      - {
          label: "Price", 
          name: "price", 
          widget: "string", 
          required: false,
          hint: "Set to sold when item is gone / out of stock. Will show comission if taged with comission. Will show Archive if taged with Archive"
        }
      
      - {
          label: "Info", 
          name: "info", 
          widget: "string", 
          required: false, 
          hint: "Used for things like size, type"
        }
      - {label: "Publish Date", name: "date", widget: "datetime"}

      # ! ALL TAGS MEDIUM/TYPES AND NAMES MUST BE capitalised NOT LOWERCASE

      - label: "Tags" 
        name: "tags" 
        widget: "select" 
        required: true
        multiple: true
        hint: "Will put item under these categories if taged. Commission will move it to a special section and hide price. If taged with Archive it must be an Archive item"
        options: 
          - Commercial
          - Commission
          - Archive
          - Logos
          - Graphics
          - Maps
          - Landscapes
          - Mountains
          - Skys
          - Sketches
          - Abstract
          - Fantasy
          - Concept Art
          - Environment Concepts
      
      - label: "Type" 
        name: "type" 
        widget: "select" 
        required: true
        multiple: true
        hint: "Set item medium, add multible if medium is mixed"
        options: 
          - Watercolor
          - Digital
          - Oil
          - Acrylic
          - Pastel
          - Ink
          - Graphite

      - label: "Featured Image"
        name: "featuredImage"
        widget: "custompathimage"
        customMediaPath: "../img/"
        required: true
        rawMediaPath: "https://raw.githubusercontent.com/Dwaxy/art-site/tree/master/src/pages/img"
        hint: "Choose a good image, please. Clarify if it comes with frame if it has one in the image"
            
      ##common bools just so they are grouped with all the other bools. Happy family
      - {label: "Original", name: "original", widget: "boolean", default: true}
      - {
          label: "Store Highlight", 
          name: "storeHighlight", 
          widget: "boolean", 
          default: false,
          hint: "Only set to true if Store Item is True"
        }
            
      ## This is so I use less queries
      - {
          label: "Is Store Item", 
          name: "is_store_item", 
          widget: "boolean", 
          default: true,
          hint: "Set to false if item is just an Archive item"
      }
      
      ##the html blog content of an archive item. Only archive items should have them

      - {
          label: "Is Archive Item", 
          name: "is_archive_item", 
          widget: "boolean", 
          default: false,
          hint: "Set to false if item is just a Store item"
        }
      
      - {
          label: "Body", 
          name: "body", 
          widget: "markdown", 
          required: false,
          hint: "Leave empty if NOT and Archive item"
        }
      
      - lable: "Archive Topic" 
        name: "archive_topic" 
        widget: "select"
        multiple: true
        required: false
        hint: "Set catergory/topic for archive page"
        options: 
          - Maps
          - Peoples
          - Locations
          - Creatures
          - History
          - Lore
          - Events
          - Characters
      ##the list of topics an archive item can have
      ## ! One day have tags for peoples, time periods, places, religion, ect 
