@import "./main.sass"

@import "./mixins.module.scss"

@include parallax-init


body
  background-color: $red-white

//speeds
$about: .13
$title: .01
$header: .15
$mainLogo: .03

=bgImage($url)
  background-image: url($url)
  background-size: cover
  background-position: top
  background-repeat: no-repeat

#landing
  width: 100%
  height: 100vh
  padding: 0
  overflow-y: scroll
  overflow-x: hidden
  section
    position: absolute
    
  .menu
    position: relative
    margin: 0 auto
    width: 100%
    display: flex
    justify-content: center
    height: 100px

  .title
    left: 0
    right: 0
    top: 20vh
    +parallax(.15)
    text-align: center
    z-index: 2
    h1, h2
      font-family: 'cinzel decorative', 'cinzel', serif
      font-weight: 100
      color: $red-white
      padding: 0 20px 0 20px
    h1
      +resFontSize(50px, 100px)
      letter-spacing: 10px
      margin-bottom: 1rem
    h2 
      +resFontSize(20px, 35px)
      letter-spacing: 5px
      margin: 0 auto
  
  .imageHolder
    width: 100%
    height: 100%
    top: 0
    background-color: $red-white
    .heroTop
      width: 100%
      height: 96.1vh //100vh
      overflow: hidden
      position: relative
      div //image holder
        size: 100%
        object-fit: cover
        object-position: bottom
      
  .mid
    width: 100%
    //height: 100vh
    left: center
    top: 0
    z-index: 2
    //background-color: $red-white
    .sides
      //size: 50% //vw
      //width: 150vw 
      //height: 500px
      left: center
      padding-top: 100vh
      z-index: 3
      .left, .right
        // size: 150vw
        //left: 50%
        width: 60vw
        height: 40vw
        // size: 100vw
        position: absolute
        background-color: $main-black
      .left
        left: 20%
        transform: rotate(-20deg)
        transform-origin: top left
      .right
        right: 20%
        transform: rotate(20deg)  
        transform-origin: top right 

    .mainLogo
      //placment height issues 
      //happen when logo is not fixed size
      position: relative
      // padding-top: calc(100vh - 6vw)
      //padding-top: calc(100vh - 20%)

      //put logo at very pottom of page but minus half the height of the logo so it shows above 100vh
      padding-top: calc(100vh - 100px)
      //size: 20% 
      margin: 0 auto
      //max-width: 200px
      // min-width: 200px
      width: 200px
      z-index: 3

    .midContent
      background-color: $red-white
      z-index: 5
      position: relative
      //margin-top: -70px
      .midTitle
        padding-top: 60px
        text-align: center
        font-family: 'cinzel decorative', 'cinzel', serif
      .holder
        height: 500px
        display: flex
        justify-content: center

  .svgHolder
    position: relative
    width: 100vw
    z-index: 6

  .svgBottomLeft, .svgBottomRight, .svgLeft, .svgRight
    position: absolute

  .svgRight, .svgBottomRight
    right: 14px
    @media screen and (max-width: $s)
      right: 0

  .topSvgHolder, .bottomSvgHolder
    position: relative
    width: 100vw
    display: flex

  .topSvgHolder
    top: 100vh
  .bottomSvgHolder
    top: 100vh
    
  .topSvgHolder > .svgLeft, .topSvgHolder > .svgRight
    // width: 40vw
    //min-width: 170px
    width: 46% //40$
    position: absolute
    bottom: -12px
    svg g path
      stroke: $red-white !important
    
  .bottomSvgHolder > .svgLeft, .bottomSvgHolder > .svgRight
    // width: 40vw
    width: 40%
    svg g path
      // stroke: $red-black !important
      stroke: red !important
