@import "./main.sass"

@import "./mixins.module.scss"

@include parallax-init


body
  background-color: $red-white

//speeds
$about: .13
$title: .01
$header: .15
$mainLogo: .03

=bgImage($url)
  background-image: url($url)
  background-size: cover
  background-position: top
  background-repeat: no-repeat

#landing
  width: 100%
  height: 100vh
  padding: 0
  overflow-y: scroll
  overflow-x: hidden
  section
    position: absolute
    
  .menu
    position: relative
    margin: 0 auto
    width: 100%
    display: flex
    justify-content: center
    height: 100px

  .title
    left: 0
    right: 0
    top: 25vh
    +parallax(.20)
    text-align: center
    z-index: 2
    h1, h2
      font-family: 'cinzel decorative', 'cinzel', serif
      font-weight: 100
      color: $red-white
      padding: 0 20px 0 20px
    h1
      +resFontSize(40px, 100px)
      letter-spacing: 10px
      margin-bottom: 1rem
    h2 
      +resFontSize(20px, 35px)
      letter-spacing: 5px
      margin: 0 auto
  
  .imageHolder
    width: 100%
    height: 100%
    top: 0
    background-color: $red-white
    .heroTop
      width: 100%
      height: 96.5vh //100vh //98vh //96.1vh //100vh
      overflow: hidden
      position: relative
      div //image holder
        size: 100%
        object-fit: cover
        object-position: bottom
      
  .mid
    width: 100%
    top: 0
    z-index: 2
    .sides
      left: center
      //padding-top: 100vh
      //padding-top: 102.5vh
      padding-top: 100vh
      @media screen and (max-width: $xs)
        padding-top: calc(100vh - 40px)
      z-index: 3
      .left, .right
        width: 60vw
        height: 20vw
        //size: 60vw
        position: absolute
        background-color: $red-white
      .left
        left: -20px
        transform: rotate(-20deg)
        //transform: rotate(-45deg)  
        transform-origin: top left
      .right
        right: -20px
        transform: rotate(20deg)  
        //transform: rotate(45deg)  
        transform-origin: top right 

    .mainLogo
      position: relative
      padding-top: calc(100vh - 80px)
      margin: 0 auto
      width: 200px
      @media screen and (max-width: $xs)
        width: 150px
        padding-top: calc(100vh - 100px)
      z-index: 2
      *
        fill: $red-white !important 

    .midContent
      z-index: 5
      background-color: $red-white
      position: relative
      margin-top: -27px
      @media screen and (max-width: $xs)
          margin-top: -14px
      .constentSides
        top: 100px
        position: relative
        .left, .right
          width: 60vw
          height: 20vw
          //size: 60vw
          position: absolute
          background-color: $main-black
        .left
          left: -80px
          transform: rotate(-10deg)
          //transform: rotate(-45deg)  
          transform-origin: top left
        .right
          right: -80px
          transform: rotate(10deg)  
          //transform: rotate(45deg)  
          transform-origin: top right 
      .midTitle
        padding-top: 60px
        text-align: center
        font-family: 'cinzel decorative', 'cinzel', serif
        position: relative
        h2
          color: $red-white
          z-index: 5
      .holder
        height: 500px
        display: flex
        justify-content: center
      .midContent
        background-color: $main-black
        display: flex
        justify-content: center
        ul
          list-style: none
          padding: 30px
          color: $red-white

  .svgHolder
    position: relative
    width: 100vw
    z-index: 6

  .svgBottomLeft, .svgBottomRight, .svgLeft, .svgRight
    position: absolute

  .svgRight, .svgBottomRight
    right: 14px
    @media screen and (max-width: $s)
      right: 0

  .topSvgHolder, .bottomSvgHolder
    position: relative
    width: 100vw
    display: flex

  .topSvgHolder, .bottomSvgHolder
    top: 98.5vh
    @media screen and (max-width: $xs)
      top: calc(100vh - 45px)
    
  .topSvgHolder > .svgLeft, .topSvgHolder > .svgRight
    width: 44% //40$
    @media screen and (max-width: $xs)
      // width: 4%
    position: absolute
    bottom: -14px
    svg g path
      stroke: $main-black !important
    
  .bottomSvgHolder > .svgLeft, .bottomSvgHolder > .svgRight
    // width: 40vw
    top: 6px
    width: 44%
    svg g path
      stroke: $red-black !important

  .bottomSvgHolder > .svgLeft
    top: 7px
    left: -8px

  .topSvgHolder > .svgLeft
    bottom: -13px
