@import "./main.sass"

@import "./mixins.module.scss"

@include parallax-init

//speeds
$about: .13
$title: .01
$header: .15
$mainLogo: .03

=bgImage($url)
  background-image: url($url)
  background-size: cover
  background-position: top
  background-repeat: no-repeat

#landing
  width: 100%
  height: 100vh
  padding: 0
  overflow-y: scroll
  overflow-x: hidden
  section
    position: absolute
    
  .menu
    grid-area: top
    z-index: 90000
    position: relative
    margin: 0 auto
  
  .imageHolder
    width: 100%
    height: 100%
    top: 0
    background-color: $red-white
    div
      size: 100%
      position: relative 
    // .heroTop 
    //   background-color: blue
    // .heroBottom
    //   background-color: red
    
  .title
    left: 0
    right: 0
    top: 25vh
    +parallax(.15)
    text-align: center
    z-index: 2
    h1
      font-weight: 100
      font-family: 'cinzel decorative', 'cinzel', serif
      +resFontSize(40px, 100px)
      letter-spacing: 10px
      font-weight: 100
      color: $red-black
    @media screen and (max-width: $m) 
      h1
        font-weight: 300
    @media screen and (max-width: $s) 
      h1
        font-weight: 400
    
  .mid
    width: 100%
    height: 100vh
    left: center
    top: 0
    z-index: 2
    .sides
      size: 50vw
      left: center
      top: calc(100% - 25vw)
      z-index: 3
      .left, .right
        size: 50vw
        position: absolute
        background-color: $main-black
      .left
        left: 100%
        transform: rotate(-45deg)
      .right
        right: 100%
        transform: rotate(45deg)   
    .mainLogo
      position: relative
      left: center
      top: calc(100% - 25vw)
      padding-top: 10vw
      max-width: 1000px
      //min-width: 200px
      size: 30vw
      z-index: 3
    
      
