@import "./main.sass"

body
  background-color: $red-white
  overflow: hidden 

#Archive
  size: 100%
  position: absolute
  overflow: hidden
  .menu
    section
      div
        margin-right: 0
  
  .topics
    max-width: 900px
    margin: 0 auto
    padding: 60px
    .topicHolder
      h2
        font-size: responsive
        max-font-size: 25px
        min-font-size: 20px
        font-family: 'cinzel', serif
      .items
        .itemHolder
          max-width: 150px
          .link
            text-decoration: none
            color: inherit
            h3
              font-weight: 400
              text-transform: capitalize
            