//@import url('https://fonts.googleapis.com/css?family=Raleway:100|Roboto+Mono:300')

$xs: 24em // extra small
$s: 35em  // small
$m: 55em  // middle
$l: 62em   // large

@keyframes fadein 
  from 
    opacity: 0
  to 
    opacity: 1
        
=full-image()
  background-repeat: no-repeat
  background-position: center
  background-size: cover

=abs-pos($top: 0, $right: 0, $bottom: 0, $left: 0)
  top: $top
  right: $right
  bottom: $bottom
  left: $left
  position: absolute
  
$red-black: #121011 

$main-black: #0B101B

$red-white: #F0E3DE
  
html, body, .root
  margin: 0 auto
  padding: 0
  width: 100%
  min-height: 100%
  box-sizing: border-box
  font-family: 'Alegreya Sans SC', sans-serif
  letter-spacing: 2px
  *
    box-sizing: border-box
    transition: all 0.1s ease-in-out
  a
    color: white
  


// --- MINNAMIM REQ --- //

//TODO
//set up paypal and mailchimp. Look at form vaildation 

//REMEMBER to redirect url to /sore on /tags as it does not exist

//TODO update site metadata

//TODO metadata and title tags with halmet on 
//every page

//Todo tag page responsive

// PAGES
//   -LANDING
//     - feacherd pices
//     - contact
//     - commishions open / closed
//     - about
//   -STORE
//    - links to all art item pages
//    - search tags
//   -CART
//    - shows art items and thier links to their pages added by the user
//      with a order on mass function
//      can also remove items, undo remove
//   -ART ITEM
//     - displays all details of an art item
//       - name
//       - image
//       - tags
//       - type
//       - about
//       - price
//       - about
//       - artists notes
//     - has order and add to cart button
//     - has product key (???)
//   -ORDER (comp)
//     - used on art item page and cart page
//     - display order items and price
//     - display total price
//     - email feild for mailchimp