//@import url('https://fonts.googleapis.com/css?family=Raleway:100|Roboto+Mono:300')

$xs: 24em // extra small
$s: 35em  // small
$m: 55em  // middle
$l: 62em   // large

@keyframes fadein 
  from 
    opacity: 0
  to 
    opacity: 1
        
=full-image()
  background-repeat: no-repeat
  background-position: center
  background-size: cover

=abs-pos($top: 0, $right: 0, $bottom: 0, $left: 0)
  top: $top
  right: $right
  bottom: $bottom
  left: $left
  position: absolute
  
$red-black: #121011 

$main-black: #0B101B

$red-white: #F0E3DE
  
html, body, .root
  margin: 0 auto
  padding: 0
  width: 100%
  min-height: 100%
  box-sizing: border-box
  font-family: 'Alegreya Sans SC', sans-serif
  letter-spacing: 2px
  *
    box-sizing: border-box
    transition: all 0.1s ease-in-out
  a
    color: white


//TODO
//set up paypal and mailchimp. Look at form vaildation 

//TODO diside on name

//REMEMBER to redirect url to /sore on /tags as it does not exist
//REMEMBER configer auto return with prod domain name in paypal

//TODO update site metadata. First diside on name and domain  

//TODO have "soft" nav back to store on art item, types and tag templates

//Todo tag page responsive

//commishions!!! Have a component and link to cms with bool. If true display spechal request form

//TODO
// up landing page wow factor by 10
//    plan background paintings
//    add more svgs
//    animate svgs
// --- MINNAMIM REQ --- //

// PAGES
//   -LANDING
//     - feacherd pices
//     - contact
//     - commishions open / closed
//     - about
//   -STORE
//    - links to all art item pages
//    - search tags
//   -CART
//    - shows art items and thier links to their pages added by the user
//      with a order on mass function
//      can also remove items, undo remove
//   -ART ITEM
//     - displays all details of an art item
//       - name
//       - image
//       - tags
//       - type
//       - about
//       - price
//       - about
//        X IN STOCK 
//       - artists notes
//     - has order and add to cart button
//     - has product key (???)
//   -ORDER (comp)
//     - used on art item page and cart page
//     - display order items and price
//     - display total price
//     - email feild for mailchimp

// ALSO, MAYBE IF CAN
// link to insta and reddit

//AND THIS IS TO GO EAVEN BEOND


  // What about a "sub website" that is a blog and story part of my world, with 
  // art from the store? It would link to the shop, would have:
  
  // basicly blog posts on difrent things, based on an art pice
  
  // a full blown mother fucking book / novile project with the art all the way through
    
  // or just short storys, or more thorgh/compleat posts on the world.
  
  // get a reddit account for all this and post in worldbuilding
  
  // get insta for all this aswell
  
  // even make a subreddit for my world?
  
  // On the store, and item could be "Part of Alstrista (world name)" with a link to its section
  // in the sub website.
  
  // On the sub website, each art pice could have a "view in store" link to its store page
  
  //AND THIS IS TO GO EVEN THERTHER THAN BEFORE
  
  // a "remeum" membership with accsess to extra content about the world
  
  // maybe through pateron. Do they have an API i can use to let paterons log in for auth?
  
  